{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block content %}
      <div>
        <h1 style="text-align: center;">Использованные технологии</h1>
      </div>
      <div class="my-container">
        <div class="my-tech-block">
          <div class="my-tech-card">
            <h2 class="my-tech-name">HTML5</h2>
            <img src={% static "/img/tech/HTML5_Logo.svg"%} alt="HTML5" class="my-tech-logo" >
            <a href="https://whatwg.org/" class="my-tech-site">На сайт технологии</a>
          </div>
          <div class="my-tech-card">
            <h2 class="my-tech-name">CSS</h2>
            <img src={% static "/img/tech/CSS3_logo.svg"%} alt="CSS" class="my-tech-logo" >
            <a href="https://www.w3.org/Style/CSS/" class="my-tech-site">На сайт технологии</a>
          </div>
          <div class="my-tech-card">
            <h2 class="my-tech-name">Bootstrap</h2>
            <img src={% static "/img/tech/bootstrap-logo.svg"%} alt="Bootstrap" class="my-tech-logo" >
            <a href="https://getbootstrap.com/" class="my-tech-site">На сайт технологии</a>
          </div>
          <div class="my-tech-card">
            <h2 class="my-tech-name">Django</h2>
            <img src={% static "/img/tech/django-logo-positive.svg"%} alt="Django" class="my-tech-logo" >
            <a href="https://www.djangoproject.com/" class="my-tech-site">На сайт технологии</a>
          </div>
          <div class="my-tech-card">
            <h2 class="my-tech-name">Python</h2>
            <img src={% static "/img/tech/python-powered-w.svg"%} alt="Python" class="my-tech-logo" >
            <a href="https://www.python.org/" class="my-tech-site">На сайт технологии</a>
          </div>
        </div>
      </div>
    </body>
{% endblock %} 